In [1]:
print("hello")

hello

In [13]:
matrix = [ [1,2],
           [3,4],
           [5,6] ]

#transpose of a matrix without list comprehension
transposed = []

for j in range(2):
    lst=[]
    for row in matrix:
        lst.append(row[j])
    transposed.append(lst)

#transpose of a matrix with list comprehension
transposed2 = [[row[j] for row in matrix] for j in range(2)]
    
print(transposed);
print(transposed2);

[[1, 3, 5], [2, 4, 6]]
[[1, 3, 5], [2, 4, 6]]

In [27]:
#list
t = ['rohith','reddy','dfewr']

print(t[1][2])

rp = [['rohith '] * 5]
print(rp)

d
[['rohith ', 'rohith ', 'rohith ', 'rohith ', 'rohith ']]

In [19]:
#tuple

t = ('rohith','reddy','dfewr')

print(t[1][2])

rp = (('rohith ') * 5)
print(rp)

d
rohith rohith rohith rohith rohith

In [42]:
#dictionary

d = {}.fromkeys(['a','b','c'],0)
print(d)

d['a'] = 2
d['b'] = 1
d['c'] = 5
print(d)

newDict = { k:v for k,v in d.items() if v>=2}
print(newDict)

newDict = {k+ ' double':v*2 for k,v in d.items() if v>=2}
print(newDict)

{'a': 0, 'b': 0, 'c': 0}
{'a': 2, 'b': 1, 'c': 5}
{'a': 2, 'c': 5}
{'a double': 4, 'c double': 10}

In [59]:
#python functions
#keyword arguments

def greet(**kwargs):

    if kwargs:
        print("name is {0}, msg is {1}".format( kwargs['name'], kwargs['msg']))

greet(name="rohith",msg="hi")

#arbitrary args

def greet2(*names):

    print(names)
    for nam in names:
        print("hi {0}".format(nam))

greet2("Rohith","reddy","sainath")

name is rohith, msg is hi
('Rohith', 'reddy', 'sainath')
hi Rohith
hi reddy
hi sainath

In [62]:
#recursive function


def factorial(num):
    '''
    factorial of number num
    '''
    return 1 if num == 1 else (num * factorial(num-1))

num = 5
print("factorial of {0}, is {1}".format(num,factorial(num)))

factorial of 5, is 120

In [64]:
#Lambda functions

#normal function
def double(x):
    return x*2

print(double(5))

#lambda function for same 
#doubleL is fuction name, x is paramerter, x*2 is function body
doubleL = lambda x:x*2

print(doubleL(5))

10
10

In [70]:
#Lambda functions

#filter() use example
#creates new list
#filter() forms a new list that contains only elements that satisfy a certain condition, i.e. the function we passed returns True.
#it will be used to filter items from list(true or flase), returns only true items which satisfies condition true

lst = [1,3,4,6,7]
even_lst = list(filter( lambda x: (x%2 == 0) ,lst))
print(even_lst)

[4, 6]

In [73]:
#Lambda functions

#map() use example
#not true of false, it is used to map items from list
#The map() function iterates through all items in the given iterable and executes the function we passed as an argument on each of them.
lst = [1,3,4,6,7]
square_lst = list(map( lambda x: x**2 ,lst))
print(square_lst)

[1, 9, 16, 36, 49]

In [ ]:
#The reduce() Function
reduce() works differently than map() and filter(). It does not return a new list based on the function and iterable we've passed. Instead, it returns a single value.

Also, in Python 3 reduce() isn't a built-in function anymore, and it can be found in the functools module.

The syntax is:

reduce(function, sequence[, initial])
reduce() works by calling the function we passed for the first two items in the sequence. The result returned by the function is used in another call to function alongside with the next (third in this case), element.

This process repeats until we've gone through all the elements in the sequence.

The optional argument initial is used, when present, at the beginning of this "loop" with the first element in the first call to function. In a way, the initial element is the 0th element, before the first one, when provided.

reduce() is a bit harder to understand than map() and filter(), so let's look at a step by step example:

We start with a list [2, 4, 7, 3] and pass the add(x, y) function to reduce() alongside this list, without an initial value

reduce() calls add(2, 4), and add() returns 6

reduce() calls add(6, 7) (result of the previous call to add() and the next element in the list as parameters), and add() returns 13

reduce() calls add(13, 3), and add() returns 16

Since no more elements are left in the sequence, reduce() returns 16

In [79]:
#Lambda functions

from functools import reduce
#reduce() use example
lst = [2,4,5,6]
# add_list = lst(reduce(lambda x,y: x+y,lst)) // reduce won't create new list
print(reduce(lambda x,y: x+y,lst))
print(lst)

17
[2, 4, 5, 6]